.idea/
*.iml
*.ipr
*.iws
*.pyc
*.bak
.classpath
.project
.settings
.externalToolBuilders
.factorypath
target
bin
images
classes
logs
*~
/.apt_generated/
build
*.jar
dependency-reduced-pom.xml
.DS_Store

recordings/
